//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 29 14:07:09 2018
//! **************************************************************************

SCHEMATIC START;
COMP "XLXN_1" LOCATE = SITE "P41" LEVEL 1;
COMP "XLXN_2" LOCATE = SITE "P40" LEVEL 1;
COMP "XLXN_3" LOCATE = SITE "P35" LEVEL 1;
COMP "XLXN_4" LOCATE = SITE "P34" LEVEL 1;
COMP "XLXN_5" LOCATE = SITE "P32" LEVEL 1;
COMP "XLXN_6" LOCATE = SITE "P29" LEVEL 1;
COMP "XLXN_7" LOCATE = SITE "P27" LEVEL 1;
COMP "osc" LOCATE = SITE "P123" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

