//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 06 23:48:33 2018
//! **************************************************************************

SCHEMATIC START;
COMP "A<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "A<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "A<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "oscP123" LOCATE = SITE "P123" LEVEL 1;
COMP "B<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "B<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "B<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "B<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P32" LOCATE = SITE "P32" LEVEL 1;
COMP "P41" LOCATE = SITE "P41" LEVEL 1;
COMP "P34" LOCATE = SITE "P34" LEVEL 1;
COMP "P35" LOCATE = SITE "P35" LEVEL 1;
COMP "P27" LOCATE = SITE "P27" LEVEL 1;
COMP "P29" LOCATE = SITE "P29" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
COMP "buzP83" LOCATE = SITE "P83" LEVEL 1;
COMP "A<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "A<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P100" LEVEL 1;
SCHEMATIC END;

