//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 29 13:35:35 2018
//! **************************************************************************

SCHEMATIC START;
COMP "XLXN_11" LOCATE = SITE "P82" LEVEL 1;
COMP "XLXN_12" LOCATE = SITE "P81" LEVEL 1;
COMP "XLXN_31" LOCATE = SITE "P94" LEVEL 1;
COMP "XLXN_15" LOCATE = SITE "P80" LEVEL 1;
COMP "XLXN_32" LOCATE = SITE "P93" LEVEL 1;
COMP "XLXN_16" LOCATE = SITE "P79" LEVEL 1;
COMP "XLXN_33" LOCATE = SITE "P92" LEVEL 1;
COMP "XLXN_17" LOCATE = SITE "P78" LEVEL 1;
COMP "XLXN_34" LOCATE = SITE "P88" LEVEL 1;
COMP "XLXN_26" LOCATE = SITE "P95" LEVEL 1;
COMP "XLXN_18" LOCATE = SITE "P75" LEVEL 1;
COMP "XLXN_35" LOCATE = SITE "P87" LEVEL 1;
COMP "XLXN_19" LOCATE = SITE "P74" LEVEL 1;
COMP "XLXN_43" LOCATE = SITE "P55" LEVEL 1;
COMP "XLXN_36" LOCATE = SITE "P85" LEVEL 1;
COMP "XLXN_38" LOCATE = SITE "P67" LEVEL 1;
COMP "XLXN_39" LOCATE = SITE "P84" LEVEL 1;
COMP "XLXN_1" LOCATE = SITE "P66" LEVEL 1;
COMP "XLXN_2" LOCATE = SITE "P62" LEVEL 1;
COMP "XLXN_3" LOCATE = SITE "P61" LEVEL 1;
COMP "XLXN_4" LOCATE = SITE "P59" LEVEL 1;
COMP "XLXN_5" LOCATE = SITE "P58" LEVEL 1;
COMP "XLXN_6" LOCATE = SITE "P57" LEVEL 1;
COMP "XLXN_7" LOCATE = SITE "P56" LEVEL 1;
SCHEMATIC END;

