
# PlanAhead Generated physical constraints 

NET "XLXN_1" LOC = P66;
NET "XLXN_2" LOC = P62;
NET "XLXN_3" LOC = P61;
NET "XLXN_4" LOC = P59;
NET "XLXN_5" LOC = P58;
NET "XLXN_6" LOC = P57;
NET "XLXN_7" LOC = P56;
NET "XLXN_43" LOC = P55;
NET "XLXN_11" LOC = P82;
NET "XLXN_12" LOC = P81;
NET "XLXN_15" LOC = P80;
NET "XLXN_16" LOC = P79;
NET "XLXN_17" LOC = P78;
NET "XLXN_18" LOC = P75;
NET "XLXN_19" LOC = P74;
NET "XLXN_38" LOC = P67;
NET "XLXN_26" LOC = P95;
NET "XLXN_31" LOC = P94;
NET "XLXN_32" LOC = P93;
NET "XLXN_33" LOC = P92;
NET "XLXN_34" LOC = P88;
NET "XLXN_35" LOC = P87;
NET "XLXN_36" LOC = P85;
NET "XLXN_39" LOC = P84;
